/* Write your CSS here */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 100vh;
}
.head {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Roboto';
}
.spanner {
  font-size: 28px;
  color: palevioletred;
  font-weight: 700;
}
.button {
  height: 40px;
  width: 100px;
  background-color: blue;
  border-radius: 12px;
  padding: 7px;
}
